@font-face {
    font-family: Neogrey;
    src: url(https://raw.githubusercontent.com/ystanwar/Melisandre/master/static/css/NeogreyRegular.otf);
}
/*----------------------------------Side Bar Menu-----------------------------------*/

body {
    padding: 0;
    color: #73d8fd;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(./assets/CarbonFiber_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
#wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 768px;
    overflow: hidden;
}

.fauxBody{
    background-repeat: no-repeat;
    background-size: cover;
}

.fauxBody,
.fauxBody1,
.fauxBody2 {
    width: 100%;
    height: 768px;
    position: absolute;
    z-index: -50;
}

.soundCont,
.soundCont1,
.soundCont2 {
    height: 0px;
    width: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    color: #73d8fd !important;
    transition: 1s ease-in-out;
}
a:hover{
    color: #fff !important;

}
/*----------------------------------Background Animations-----------------------------------*/
.bgAnimRing {
    top: -20%;
    left: -10%;
    position: absolute;
    width: 700px;
    height: 700px;
    z-index: -40;
    opacity: 0.3;
}

.bgAnimRing1 {
    opacity: 0;
    top: 248px;
    left: 248px;
    width: 205px;
    height: 205px;
    position: absolute;
    z-index: -40;
    background-image: url(./assets/bgAnim1.png);
}

.bgAnimRing2 {
    opacity: 0;
    top: 75px;
    left: 75px;
    width: 550px;
    height: 550px;
    position: absolute;
    z-index: -40;
    background-image: url(./assets/bgAnim2.png);
}

.bgAnimRing3 {
    opacity: 0;
    width: 700px;
    height: 700px;
    position: absolute;
    z-index: -40;
    background-image: url(/assets/bgAnim3.png);
}

.sineGraph {
    opacity: 0;
    position: absolute;
    top: -8px;
    width: 150px;
    height: 50px;
    right: 150px;
    background-image: url(./assets/singraph.png);
}

.welcomeRings {
    position: absolute;
    left: 0;
    width: 100%;
    height: 700px;
    z-index: 99999;
    margin: 0 auto;
    right: 0;
}

.welcomeRing1 {
    opacity: 0.6;
    position: absolute;
    top: 150px;
    left: 0;
    width: 400px;
    height: 400px;
    background-image: url(./assets/welcomeRing1R.png);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    margin: 0 auto;
}

.welcomeRing2 {
    opacity: 0.6;
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50px;
    left: 0px;
    background-image: url(./assets/welcomeRing2R.png);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0px;
    margin: 0 auto;
}

.welcomeRing3 {
    opacity: 0.6;
    position: absolute;
    width: 700px;
    height: 700px;
    background-image: url(./assets/welcomeRing3R.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 0px;
    right: 0px;
    margin:  0 auto;
}

.lockIcon {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 294px;
    left: 0px;
    background-image: url(./assets/lock.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    right: 0px;
    margin: 0 auto;
}

.popup {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(./assets/popup.png);
    font-family: "Ariel", "Myriad Pro", "Trebuchet", sans-serif;
    font-size: 14px;
}

.popup p {
    float: right;
    margin: 120px 150px;
}

.popup div {
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #73d8fd;
    border: 1px solid #73d8fd;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    right: 150px;
    bottom: 200px;
}

.sideBarUl {
    display: none;
    position: absolute;
    left: -10px;
    width: 360px;
    z-index: 100;
    overflow: hidden;
}

.sideBarUl li {
    opacity: 0;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 35px;
    font-family: "Neogrey";
    font-size: 24px;
    line-height: 100px;
    width: 330px;
    height: 100px;
    clear: both;
    background-image: url(./assets/sideLiBG.png);
    background-repeat: no-repeat;
}

.sideBarUl li:hover {
    cursor: pointer;
    color: #fff;
    background-image: url(./assets/sideLiBGHover.png);
}

/*----------------------------------Footer-----------------------------------*/

.footerImg {
    height: 110px;
    width: 100%;
    position: absolute;
    top: 648px;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.semText {
    font-family: "Neogrey";
    position: absolute;
    left: 30px;
    top: 50px;
    font-size: 30px;
}

.juryText {
    font-family: "Neogrey";
    position: absolute;
    left: 460px;
    top: 36px;
    font-size: 36px;
}

.headText {
    font-family: "Neogrey";
    position: absolute;
    width: 400px;
    left: 700px;
    top: -8px;
    font-size: 36px;
}

.infoText {
    font-family: "Neogrey";
    position: absolute;
    width: 400px;
    left: 380px;
    top: 5px;
    font-size: 20px;
}

.footerGraph {
    width: 300px;
    height: 70px;
    position: absolute;
    left: 1010px;
    top: 672px;
    z-index: 1;
}

.footerGraphUnit {
    opacity: 0;
    width: 70px;
    height: 70px;
    margin-left: -40px;
    float: left;
    background-image: url(./assets/footerGraph.png);
}

/*----------------------------------Image Gallery-----------------------------------*/
#imgGalCont {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 620px;
    top: 35px;
    overflow: hidden;
}

#imgGalOut {
    position: absolute;
    width: 1220px;
    height: 620px;
    background-image: url(./assets/imageGalBorder.png);
    background-repeat: no-repeat;
    background-color: transparent;
    overflow: hidden;
    z-index: 30;
    left: 0px;
    top: 2px;
}

#imgGalIn {
    font-family: "Neogrey";
    font-size: x-large;
    position: absolute;
    width: 60%;
    height: max-content;
    left: 50px;
    top: 50px;
    overflow: hidden;
    z-index: 40;
    display: flex;
    gap: 30px;
}
#imgGalIn .data-image,
#imgGalIn  .data-container{
    width: 50%;
}
#imgGalIn .data-image img{
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
#imgGalMid {
    font-family: "Neogrey";
    font-size: x-large;
    position: absolute;
    width: 1000px;
    height: max-content;
    left: 40px;
    top: 180px;
    overflow: hidden;
    z-index: 40;
}

.cogErgo,
.typography,
.exDes,
.resMeth,
.openEl,
.phyComp,
.desProj {
    position: relative;
    overflow: auto;
}

.cogErgo li,
.typography li,
.exDes li,
.resMeth li,
.openEl li,
.phyComp li,
.desProj li {
    list-style: none;
}

.cogErgo ul li,
.typography ul li,
.exDes ul li,
.resMeth ul li,
.openEl ul li,
.phyComp ul li,
.desProj ul li {
    float: left;
}

@media only screen and (max-width: 767.98px){

    .lockIcon {
        width: 60px;
        height: 60px;
        top: 170px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .welcomeRing1 {
        top: 100px;
        left: 0;
        width: 200px;
        height: 200px;
        right: 0;
        margin: 0 auto;
    }
    .welcomeRing2 {
        width: 250px;
        height: 250px;
        top: 75px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
    }
    .welcomeRing3 {
        width: 300px;
        height: 300px;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 50px;
    }
    .footerImg {
        top: unset;
        bottom: 10px;
    }
    .semText {
        top: 0px;
    }
    .juryText {
        right: unset;
        left: 30px;
        bottom: -10px;
    }
    #imgGalMid {
        width: 70%;
    }
    #imgGalCont{
        left: 50px !important;
    }
}